# Node.js dependencies
/node_modules

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Optional: IDE-specific settings
.vscode/
.idea/

# Build/production
dist/
build/

# Coverage directory used by testing tools
coverage/

# Optional: ignore test results or temporary files
*.local
*.cache
